#yinyang{
    border: 1px solid red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
    /* 相对定位 */
    position: relative;
        /* 居中 */
    margin: 100px auto;
}
#yinyang::before{
    /* border: 1px solid green; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:#ffffff;
    /* 绝对定位 */
    position: absolute;
    top: 50px;

    content: "";
    /* 用border来做最后两个最小的圆 因为设置了border大小所以八卦宽高自己调整 */
    border:40px solid #000000;
}



#yinyang::after{
    /* border: 1px solid yellow; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000000;
    /* 绝对定位 */
    position: absolute;
    top:50px;
    right: 0;

    content: "";
        /* 用border来做最后两个最小的圆 因为设置了border大小所以八卦宽高自己调整 */
    border:40px solid #ffffff;
}
 


body{
    background: #ddd;
}